* {
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
}
body {background-image: url('bgoth.png');
    background-attachment: fixed;
    background-size:100%}
.pa{
    position: absolute;
    font-size: 40px;
    top:130px;
    left:50px;

}
h1{
    position: absolute;
    color:green;
    font-size: 50px;
    top:60px;
    left:50px;
    font-family: "Times New Roman", Times, serif;
}
#thank{
    border: 30px
    padding:30,25;
    margin-left: 10px;
    margin-right:10px;
    position: absolute;
    color:green;
    font-size: 50px;
    top:80px;
    left:900px;
    font-family: "Times New Roman", Times, serif;
}