* {
    padding: 0;
    margin: 0;
}

body {
	background-image: url('bg.png');
	background-attachment: fixed;
	background-size: 100%;
}
.content{
	position: absolute;
	width:100%;
	top: 20%;
	text-align: center;
	font-size: 40px;
	font: 30px arial, sans-serif;
}
h1{
	font-family: "Times New Roman", Times, serif;
	font-size: 70px;
}
.log{
	position: absolute;
	top: 10%;
	left: 5%;
	font-size: 40px;
}
#log_in{
	top:50px;
	color: black;
	text-decoration: none;
<<<<<<< HEAD
	font: 20px arial, sans-serif;
=======
	font: 30px arial, sans-serif;
>>>>>>> 6e3c2c872af5f6a64a7ebece3931706bbb895e0b
}
#log_in:hover {
	text-decoration: underline;
}
.nav-link{
	color:gray;
}
.nav-link:hover{
	color:black;
}
.menu{
	position: relative;
	top: 10px;
	display: inline;
	font-size: 35px;
	background-color: white; 
}
.link_m{
	text-decoration: none;
	display: inline;
	padding-right: 30px;
	color: gray;
	padding-top: 40px;
}

.sing_up{
	left: 10%;
}
.sign_up{
	background-color: green;
    color: white;
    padding: 30px 25px;
    text-align: center;
    text-decoration: none;
	display: inline;
	
}
.sign_up:hover{
	text-decoration: none;
	color:gray;
}
#vo {
	font-family: "Times New Roman", Times, serif;
	right: 25%;
	margin-right:40px;
}
#el {
	font-family: "Times New Roman", Times, serif;
	margin: 20px;
}
#p1{
	margin-left:150px;
	margin-right: 150px;
	font-size: 25px;
}