* {
    padding: 0;
    margin: 0;
}

body {
	background-image: url('bg.png');
	background-attachment: fixed;
	background-size: 100%;
}
.content{
	position: absolute;
	top: 20%;
	left: 30%;
	font-size: 40px;
}

.log{
	position: absolute;
	top: 10%;
	left: 5%;
	font-size: 40px;
}
#log_in{
	top:50px;
	color: black;
	text-decoration: none;
}
#log_in:hover {
    text-decoration: underline;
}


.menu{
	position: relative;
	top: 10px;
	display: inline;
	font-size: 35px;
	background-color: white; 
}
.link_m{
	text-decoration: none;
	display: inline;
	padding-right: 30px;
	color: gray;
	padding-top: 20px;
}

.sign_up{
	background-color: green;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#vo {
	font-family: "Times New Roman", Times, serif;
	left:150px;
}
#el {
	font-family: "Times New Roman", Times, serif;
	left: 50px;
}