
body {
    background-image: url("bg.png");  
    background-attachment: fixed;
    background-size:100%
}

.nav-link{
    color: gray;
}
.nav-link:hover{
    color:black;
}
h1{
    font-size: 25px;
    /* color: #296833;
    text-shadow: 2px 2px 4px #ffffff; */
}
#results{
    margin-left:480px;
    padding-left:10px;
    font-family: cursive;
    color: white;
    text-shadow: 2px 2px 4px #504c4c;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
    
}
/* input {
    border-radius:15px; 
    -moz-border-radius:15px; 
    -webkit-border-radius:15px; 
    border: 2px solid green;
    
}


button {
    border-radius: 50%;
    padding: 20px;
    color: chartreuse;
    border: 2px solid black
    
}

#search_form {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
} */

div {
    /* padding: 15px;
    border: 2px solid gray */
    
    
}


#search_form {
        background-color: #fffbf8;
        padding:13px;
        width:335px;
        margin: 100px auto;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
        border-radius:6px;
        -webkit-box-shadow:
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
        -moz-box-shadow:
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
        box-shadow:
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    }

.inputs {
    width:250px;
    height:30px;
    padding-left:15px;
    border-radius:6px;
    border:none;
    color:#0F0D0D;;
    font-weight:500;
    background-color:#E2EFF7;;
    -webkit-box-shadow:
    0 -2px 2px 0 rgba(199, 199, 199, 0.55),
    0 1px 1px 0 #fff,
    0 2px 2px 1px #fafafa,
    0 2px 4px 0 #b2b2b2 inset,
    0 -1px 1px 0 #f2f2f2 inset,
    0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    -moz-box-shadow:
    0 -2px 2px 0 rgba(199, 199, 199, 0.55),
    0 1px 1px 0 #fff,
    0 2px 2px 1px #fafafa,
    0 2px 4px 0 #b2b2b2 inset,
    0 -1px 1px 0 #f2f2f2 inset,
    0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    box-shadow:
    0 -2px 2px 0 rgba(199, 199, 199, 0.55),
    0 1px 1px 0 #fff,
    0 2px 2px 1px #fafafa,
    0 2px 4px 0 #b2b2b2 inset,
    0 -1px 1px 0 #f2f2f2 inset,
    0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}

button {
    width:35px;
    height:30px;
    background-image:url(img/search-btn.png);
    background-repeat: no-repeat;
    background-position: 17px 2px;
    background-color:transparent;
    -webkit-background-size:20px 20px;
    background-size:20px 20px;
    border:none;
    cursor:pointer;
}

#search_form {
    margin-left: 430px;
    margin-top: 150px;
    
}

#welcome{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    font-size: 55px;
	margin-bottom: 35px;
	color: rgb(29, 114, 36);
    text-shadow: 2px 2px 4px #ffffff;
    margin:40px;
    margin-left: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 520px;
    background-color: rgba(15, 236, 89, 0.13);

}

