input {
    border-radius:15px; 
    -moz-border-radius:15px; 
    -webkit-border-radius:15px; 
    border: 3px solid green;
    
}

body {
    background-image: url('bgoth.png');
    background-attachment: fixed;
    background-size:100%;
}

#form {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
    
}

button {
    border-radius: 35%;
    padding: 8px;
}