body {
	background-image: url('bg.png');
	background-attachment: fixed;
    background-size: 100%;
    
}

h1{
	font-family: "Times New Roman", Times, serif;
	font-size: 75px;
	margin-bottom: 35px;
	color: rgb(29, 114, 36);
    text-shadow: 2px 2px 4px #ffffff;
    margin: 25px;
}

h2{
    font-family: "Times New Roman", Times, serif;
    font-size:35px;
    color:rgb(150,0,0);
    

}
.nav-link{
    color:gray;
}
.nav-link:hover{
    color:black;
}

form {
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(143, 229, 154, 0.37)
}

input {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(94, 92, 92, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(161, 167, 161, 0.37);
    
}
