<!DOCTYPE html>
<html>
    <head>
        <title>contact</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contact_design.css') }}">
    </head>

    <body>
            <ul class="nav nav-tabs" style="background-color: white">
                    <li class="nav-item" style="color:gray">
                        <a class="nav-link" href="{{url_for('home')}}"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('contact')}}"> Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('search')}}"> Search </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('myacc')}}">My Acount</a>
                    </li>
                </ul>
        <h1>Contact Us</h1>
        <p id="ways">There are some ways to contact us about anything</p>
        <p id="gmail">email: helder.helper@gmail.com</p>
        <p id="phone">phone: 1234567</p>
        <P id="more">we are a group of four MEETers,Shelly,Simon,Yair,Vivian.<br> 
            we made this website in a hackathon <br>
            our website "elder helper" encourages young aults to get connected with the<br>
            elderly by helping them find a close elder who needs help, this way we're also<br>
            helping elders in everyday life activities, making a balanced comunity. <br>. </P>
        <p id="learn"> About us</p>
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
    </body>
</html>
