<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Red</title>
    <meta http-equiv="X-FRAME-OPTIONS" content="allow" />
    
<meta http-equiv="Content-Language" content="English" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body style="background-image: url(images/headphones_music_sky_clouds_64343_1920x1080.jpg)">
        <form id="form1">

            <div id="wrap">
            
            <div id="header">
            
                
                <h1>
                    <a href="#">The Best Music</a></h1>
                <h2>
                    Have Fun Voting And Listening To Your Favorite Songs :D </h2>
            </div>
            <div id="menu">
            <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Add Song</a></li>
            <li><a href="#">Search</a></li>
            
            <li><a href="#">Top 10 Songs</a></li>
            <li><a href="#">Edit User</a></li>
                <li><a href="#">Edit Song</a></li>
                <li><a href="#">Delete Song</a></li>
            
            
            
            
            
            </ul>
            </div>
            
            <div id="content" class="left" style="background-image:url('images/red_smoke_by_themanwithoutfear.jpg'); background-size:contain ">
            
            
            
            
            <div style="clear: both;"> </div>
            
            </div>
            
            <div id="bottom"> </div>
            <div id="footer">
            
            </div>
            </div>
            
            
            
                </form>
    </body>
</html>
