<!DOCTYPE html>
<html>
    <head>
        <title>Helder Helper</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
        <div class="menu">
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('contact')}}">Contact</a>
        <a href="{{url_for('search')}}">Search</a>
        <a href="{{url_for('my_acount')}}">My Acount</a>
        </div>
        <div class="content">
        <a href="{{url_for('log_in')}}">Log in</a>
        <h1>Elder Helper</h1>
        <p>information</p>
        <a class="sign_up" href="{{url_for('sign_up')}}">Sign up as an volunteer</a>
        <a class="sign_up" href="{{url_for('sing_up')}}">Sing up as a elder</a>
        </div>
        </div>
    </body>
</html>
