<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to your account!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='account.css') }}">
    </head>

    <body>
            <ul class="nav nav-tabs" style="background-color: white">
                    <li class="nav-item" style="color:gray">
                        <a class="nav-link" href="{{url_for('home')}}"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('contact')}}"> Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('search')}}"> Search </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('myacc')}}">My Acount</a>
                    </li>
                </ul>
        
        <h1>Welcome to you'r account!</h1>
        {%if object.ty=="vol"%}
        <div class="pa">
        <p>name: {{vol.name}}</p>
        <p>location:{{vol.location}}</p>
        <p>age: {{vol.age}}</p>
        <p>number:{{vol.number}}</p>
        </div>
        {%elif object.ty=="eld"%}
        <div class="pa">
                <p>name: {{eld.name}}</p>
                <p>location:{{eld.location}}</p>
                <p>age: {{eld.age}}</p>
                <p>number:{{eld.number}}</p>
                </div>
        {% endif %}
               
        <div id="thank">
        <p>Thanks for <br>helping the<br>community!</p>
        </div>
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
    </body>
</html>
