<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to you'r account!</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='account.css') }}">
    </head>

    <body>
        <h1>Welcome to you'r account!</h1>
        <div class="pa">
        <p>name:</p>
        <p>location:</p>
        <p>age:</p>
        <p>number:</p>
        <p>volunteering experiences:</p>
        </div>
        <div id="thank">
        <p>Thanks for <br>helping the<br>community!</p>
        </div>
    </body>
</html>
